# Random useful functions / modules

### Capitalize
To capitalize the first letter of a sentence

In [1]:
string = "hello world"
string.capitalize()

'Hello world'

### Title
To capitalize the first letter of each word in the sentence

In [2]:
string = "hello world"
string.title()

'Hello World'

### All
To determine if all elements in an iterable are True

In [4]:
my_list = [True, False, True]
all(my_list)

False

### Any
To determine if any of the elements in an iterable are True

In [5]:
my_list = [True, False, True]
any(my_list)

True

## Datetime

In [10]:
import datetime

t = datetime.time(4, 20, 1)
print(t)
print(t.hour)

04:20:01
4

In [13]:
t = datetime.date.today()
print(t)
print(t.year)

2022-05-17
2022

In [17]:
t1 = datetime.date(2015, 3, 11)
t2 = datetime.date(2015, 4, 11)
d = t2 - t1
print(d)

31 days, 0:00:00

## Math

In [19]:
import math

my_val = 3.41

In [20]:
math.ceil(my_val)

4

In [21]:
round(my_val)

3

In [22]:
math.pi

3.141592653589793

In [24]:
math.inf

inf

In [25]:
math.nan

nan

## Random

In [26]:
import random

random.randint(0,100)

48

In [31]:
my_list = list(range(0,20))
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [32]:
random.choice(my_list)

18

In [33]:
random.shuffle(my_list)
my_list

[0, 18, 1, 19, 12, 16, 6, 14, 7, 8, 3, 2, 4, 15, 17, 11, 5, 13, 9, 10]

## Regex

In [42]:
import re

pattern = 'phone'
match_iter = re.finditer(pattern, "Please pick up your phone")

for match in match_iter:
    print(match.span())
    print(match.start())
    print(match.group())

(20, 25)
20
phone

In [43]:
text = "My telephone number is 408-555-1234"
phone = re.search(r'\d{3}-\d{3}-\d{4}',text)
phone.group()

'408-555-1234'

## Timing code

In [51]:
import timeit

setup = '''
def func_one(n):
    return [str(num) for num in range(n)]
'''

stmt = 'func_one(100)'

timeit.timeit(stmt, setup, number=100000)

1.2634385000001203

In [49]:
setup2 = '''
def func_two(n):
    return list(map(str,range(n)))
'''

stmt2 = 'func_two(100)'

timeit.timeit(stmt2, setup2, number=1000000)

0.9777726000002076

## Collections
Counter

In [52]:
from collections import Counter

my_list = [1, 1, 1, 1, 2, 2, 3, 4]
Counter(my_list)

Counter({1: 4, 2: 2, 3: 1, 4: 1})

In [53]:
my_sentence = "This is a sentence and a string"

words = my_sentence.split()
Counter(words)

Counter({'This': 1, 'is': 1, 'a': 2, 'sentence': 1, 'and': 1, 'string': 1})